.intro {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  height: fit-content;
  z-index: 10;
  max-height: 285px;
  @media(max-width: 800px) {
    max-height: 165px;
  }
}

h1,
h2,
h3 {
  color: #fff;
  margin: 0 auto;
  height: fit-content;
  width: fit-content;
  line-height: 1;
  text-align: center;
  font-family: 'geomanistblack';
}

h1 {
  font-size: 10em;
  text-transform: uppercase;
  font-family: 'geomanistblack';
  text-shadow: #FFF 0px 0px 5px, rgba(151, 45, 255, 0.3) 0px 0px 20px, rgba(255, 45, 149, .3) 0px 0px 60px, rgba(255, 45, 149, .3) 0px 0px 40px;
  @media(max-width: 800px) {
    font-size: 4.4em;
  }
}

h2 {
  color: #fff;
  font-size: 2.55em;
  font-family: 'geomanistblack';
  text-transform: uppercase;
  margin-bottom: 10px;
  text-shadow: rgba(151, 45, 255, 0.3) 0px 0px 20px, rgba(255, 45, 149, .3) 0px 0px 60px, rgba(255, 45, 149, .3) 0px 0px 40px;
  @media(max-width: 800px) {
    font-size: 1.12em;
  }
}

h3 {
  color: #fff;
  font-size: 1.5em;
  font-family: 'geomanistlight';
  margin-top: 50px;
  text-shadow: 2px 2px 0 rgba(25, 40, 106, .3), 2px -2px 0 rgba(25, 40, 106, .3), -2px 2px 0 rgba(25, 40, 106, .3), -2px -2px 0 rgba(25, 40, 106, .3), 2px 0px 0 rgba(25, 40, 106, .3), 0px 2px 0 rgba(25, 40, 106, .3), -2px 0px 0 rgba(25, 40, 106, .3), 0px -2px 0 rgba(25, 40, 106, .3);
  @media(max-width: 800px) {
    font-size: 1em;
  }
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  @media(max-width: 600px) {
    margin: auto;
    height: 100% !important;
    min-height: unset;
    width: auto;
  }
}

.video-container {
  height: 100%;
  z-index: 0;
  width: auto;
  overflow: hidden;
}
